<table class="table table-hover" id="table_id">
	<thead>
	   <tr class="info">
	      <th>Photo</th>
	   </tr>
    </thead>
	<tb  <% @content_resources.each do |content_resource| %>
	     <tr class="active">
	          <td>
	          <% if content_resource.is_type_of_image?%>
	          <%= image_tag content_resource.media.url, style: "max-width: 45%;" %>
	          <%else%>
	        	<%= video_tag content_resource.media.url,controls: true, style: "max-width: 45%;"%>  
	          <% end %>
	          </td>
	          <% end %>
	</tbody>
</table>
<%= link_to 'Back',  artist_data_item_content_items_path,:class => "btn btn-primary" %>