<div class="panel panel-info">
  
  <div class="panel-heading">
    <h1>Content:- <%= @data_item.title %></h1>
  </div>

<table class="table table-hover" id="myTable">
  <thead>
     <tr class="info">
  	    <th>Title</th>
  	    <th>Description</th>
        <th>Photo</th>
  	 </tr>
  </thead>   
  <tbody>
    <% @content_items.each do |content_item| %>
   <tr>
      
      <td><%= link_to content_item.title,artist_data_item_content_item_content_resources_path(@artist.id,@data_item.id,content_item.id)%></td>
        <td><%= content_item.description %></td>
          
     </tr>
    <% end %>
  </tbody>
</table>
</div>