<table class="table table-hover" id="table_id">
  <thead>
     <tr class="info">
  	    <th>Title</th>
  	    <th>Description</th>
  	 </tr>
  </thead>   
  <tbody>
    <% @content_items.each do |content_item| %>
   <tr>
      
      <td><%= link_to content_item.title,artist_data_item_content_item_content_resources_path(@artist.id,@data_item.id,content_item.id)%></td>
        <td><%= content_item.description %></td>
          
     </tr>
    <% end %>
  </tbody>
</table>
<%= link_to 'Back',  artist_data_items_path,:class => "btn btn-primary" %>