<h1>Content Item List</h1>
<table class="table table-hover" id="table_id">
<thead>
   <tr>
	    <th>Title</th>
	    <th>Description</th>
	 </tr>
</thead>
<tbody>
   <% @content_items.each do |item| %>
   <tr>
      
      <td><%= item.title%></td>
      <td><%= item.description %></td>
    </tr>
  <% end %>
  </tbody>
</table>
<%= link_to 'New Content Item',  new_admin_data_item_content_item_path %>